.container_small_card {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.small_card_image > a > img {
    width: 250px;
    min-width: 250px;
    margin-right: 1rem;
    
}

.small_card_title > h1 > a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: .5rem;
}