@media (max-width: 1200px){
    .container_small_card {
        width: 80vw;
        margin: 1rem auto;
    }
    .small_card_title {
        width: 100%;
    }
    .small_card_title > p > a{
        font-size: 1rem;      
    }
}
@media (max-width: 700px){

    .small_card_image >img {
        width: 150px;
        min-width: 150px;
    }
    .small_card_title > p > a{
        font-size: .8rem;      
    }


}